/bitrix/activities/*
/bitrix/admin/*
/bitrix/backup/*
/bitrix/cache/*
/bitrix/catalog_export/*
/bitrix/fonts/*
/bitrix/images/*
/bitrix/image_uploader/*
/bitrix/managed_cache/*
/bitrix/modules/*
/bitrix/otp/*
/bitrix/panel/*
/bitrix/services/*
/bitrix/sounds/*
/bitrix/stack_cache/*
/bitrix/template/*
/bitrix/themes/*
/bitrix/tmp/*
/bitrix/tools/*
/bitrix/wizards/*
/bitrix/components/bitrix/*
/upload/*
/webstat/*
/vd18zpi2virusdie/*
vd18zpi2virusdie.php
